html {
  background-color: rgb(71, 71, 71);
  font-family: 'Courier New', Courier, monospace;
}

#head {
  color: antiquewhite;
  font-weight: bolder;

}

.projects {
  background-color: antiquewhite;
  text-align: center;
  margin: -10px;
  border: 3px dashed black;
}

footer {
  text-align: center;
  margin: 5%;
}

#movie-ranking {
  color: green;
}

#birthday-invite {
  color: purple;
}